# Ignorar PyCharm/.idea IntelliJ/.idea
.idea/

# Ignorar directorio out de PyCharm e IntelliJ
out/

# Ignorar archivos de bytecode de Python
*.pyc 
__pycache__/

# Otros archivos que no quiero versionar
*.log